# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=

# Team and project to use by `npx convex dev`
CONVEX_OP_SERVER_URL=

NEXT_PUBLIC_CONVEX_URL=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_SENTRY_DSN=
